@use 'src/styles/vars';

.app {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-color: vars.$lightGrey;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &__fail-request {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 1em;
    border: 1px solid vars.$mediumOrange;
    border-radius: .4em;
    background: vars.$mediumGrey;
    transform: translateY(-3em);
  }
}
